<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
var map = new google.maps.Map(document.getElementById('map'), {
							center: {lat: 21.932925, lng: -102.305567}, 
							scrollwheel: false, 
							zoom: 16 
						});

						var textoCont='<h3>San Telmo Medial Center</h3><p>Prol Ignacio Zaragoza 4200, Trojes de Alonso,<br> Calicantos II, 20115 Aguascalientes, Ags.</p><p><strong>Teléfono:</strong> 01 449 200 7474</p>';

						var infowindow = new google.maps.InfoWindow({
							content: textoCont 
						});

						var marker = new google.maps.Marker({
							map: map, 
							position: {lat: 21.932925, lng: -102.305567}, 
							title: 'Hello World!'
						});

						marker.addListener('click', function() {
							infowindow.open(map, marker); 
						});
            }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDelkE8x-cXCSNg_weXz3_uhCYDXyRbB_o&callback=initMap">
    </script>