    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gastroprocto - Contacto</title>
        {{> _links}}
    </head>
    <body>
        {{> _mainmenu}}

        <div class="h-title">
            <figure>
                <img src="/images/contactobg.jpg" alt="">   
            </figure>
            <section>
                <h1 class="page-title"> <i class="fas fa-address-book"></i> <span style="color: #12416d">Contacto</span></h1>
            </section>

            <div class="white-filter"></div>
        </div>



        <!-- DR RODRIGUEZ-->
        <div class=" container-fluid">

            <div class="row mt-5">
                <div class="col-12 col-md-6 mb-4">
                    <div class="col-12">
                        <h3 class="w-100 text-center pb-0 name" >DR. ALAN RODRÍGUEZ MONROY</h2>
                        <h5 class="text-center w-100 pb-4 esp" style="border-bottom:2px solid #12416d">Cirujano Gastroenterólogo <br> Endoscopia y Laparoscopia</h5>
                    </div>             
                <div class="row align-items-center justify-content-center" >
                <figure class="d-none d-md-block col-md-4 col-lg-6 text-right">
                    <img class=" mt-3 w-75" style="border-radius:50%;" src="/images/drperfil.png" alt="">
                </figure>
                <div class="col-12 col-md-8 col-lg-6 text-center" style="line-height: 2em;">
                    <p><b>Cédula Profesional: </b> 7932867 <br>
                    <b>Cédula Especialida: </b> 10996179 <br>
                    <b>Urgencias: </b> (52) 449 352 1314</p>
                </div>
                </div>
                

                </div>




                <div class="col-12 col-md-6">
                    <div class="col-12">
                        <h3 class="w-100 text-center pb-0 name">DRA. YAZMÍN BERRONES MEDINA</h2>
                <h5 class="text-center w-100 pb-4 esp" style="border-bottom:2px solid #d792b0">Coloproctóloga <br> Cirugía de Colon, Recto y Ano</h5>
                    </div>             
                <div class="row align-items-center justify-content-center" >
                <figure class="d-none d-md-block col-md-4 col-lg-6 text-right">
                    <img class="mt-3 w-75" style="border-radius:50%;" src="/images/draperfil.png" alt="">
                </figure>
                <div class="col-12 col-md-8 col-lg-6 text-center" style="line-height: 2em;">
                    <p><b>Cédula Profesional: </b> 7741561 <br>
                    <b>Cédula Especialida: </b> 10993928 <br>
                    <b>Urgencias: </b> (52) 449 155 8754</p>
                </div>
                </div>
                </div>
            </div>

            <div class="row">
            <i class="fas fa-map-marked-alt w-100 mt-5" style="font-size: 3em;text-align: center;"></i>
            <h1 class="w-100 text-center mt-3 mb-5"><b>UBICACIÓN</b></h1>
            </div>

            <div class="row">
                <div class="d-none d-md-block col-6 px-0">
                    <img class="mx-auto d-block" src="/images/santelmologo.png" style="width: 50%; padding: 10vh 0;" alt="">
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center" style="background-color: #c0d272; color: #FFF;">
                    <p class="text-center utext"><b>SAN TELMO MEDICAL CENTER</b>  <br>
                    Prolongación Zaragoza 1004 ,Calicantos II <br>
                    CP 20116 <br>
                    Aguascalientes, Ags. <br> 
                    <b>CONSULTORIO 607 y 608</b> <br> <br>

                    <b>Teléfono Citas:</b>  (449) 174 9849</p>
                </div>
            </div>

            <div class="row">
                <div id="map"></div>
            </div>

                
        </div>  
        {{> _scripts}}
    </body>
    </html>