    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gastroprocto - Contacto</title>
        {{> _links}}
    </head>
    <body>
        {{> _mainmenu}}

        <div class="h-title">
            <figure>
                <img src="/images/promo.jpg" alt="">   
            </figure>
            <section>
                <h1 class="page-title"> <i class="fas fa-address-book"></i> <span style="color: #12416d">Contacto</span></h1>
            </section>

            <div class="white-filter"></div>
        </div>



        <!-- DR RODRIGUEZ-->
        <div class=" container-fluid">
            <div class="row">
            <i class="fas fa-map-marked-alt w-100 mt-5" style="font-size: 3em;text-align: center;"></i>
            <h1 class="w-100 text-center my-3"><b>UBICACIÓN</b></h1>
            </div>

            <div class="row">
                <div class="col-6 px-0">
                    <img class="w-100" src="/images/santelmo.png" alt="">
                </div>
                <div class="col-6 d-flex align-itemns-center">
                    <p class="text-center">SAN TELMO MEDICAL CENTER <br>
                    Prolongación Zaragoza 1004 ,Calicantos II <br>
                    CP 20116 <br>
                    Aguascalientes, Ags. <br> 
                    Teléfono Citas: (449) 174 984</p>
                </div>
            </div>

            <div class="row">
                <div id="map"></div>
            </div>

                
        </div>  
        {{> _scripts}}
    </body>
    </html>