<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Enfermedades</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/enfermedades.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-syringe"></i> <span style="color: #12416d">Enfermedades</span></h1>
        </section>

        <div class="white-filter"></div>
    </div>


    <!-- SERVICES GRID  -->
    <div class="container-fluid">
        <div class="row">
            <h3 class="py-4 text-center w-100">
                {{!-- Contamos con los siguientes servicios para la atención de nuestros pacientes, y servicio
                de urgencias en enfermedades de colon, recto y ano las 24 horas. --}}
            </h3>
        </div>
        <div id="enfermedades" class="row px-5">

          <div class="col-6">
            <h3 class="pb-2 mb-5 text-center" style="border-bottom:2px solid #12416d">DR. ALAN RODRÍGUEZ MONROY</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" data-toggle="modal" data-target="#dr1">Esofagitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr2">Coledocolitiasis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr3">Coledocolitiasis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr4">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item list-group-item-action disabled" data-toggle="modal" data-target="#dr5">Vestibulum at eros</a>
            </div>
          </div>


          <div class="col-6">
            <h3 class="pb-2 mb-5 text-center" style="border-bottom:2px solid #d792b0">DRA. YAZMÍN BERRONES MEDINA</h3>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">
                Cras justo odio
              </a>
              <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
              <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
            </div>
          </div>
        </div>
    </div>




<div class="modal fade" id="dr1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Esofagitis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Es una inflamación del esófago causada frecuentemente por el reflujo del líquido del estómago hacia el esófago, pueden dar síntomas como dolor en pecho, sangrado y dificultad para el paso de alimentos.
        </p>
        <img class="w-100" src="/images/dr1enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Coledocolitiasis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Presencia de cálculos biliares (piedras) en el conducto colédoco (conducto que transporta bilis al intestino) que puede causar síntomas como dolor por debajo de las costillas, fiebre, coloración amarilla de piel y ojos, heces blancas, orina oscura.

El tratamiento en la mayoría de los casos es por retirar las piedras por medio de endoscopia</p>
        <img class="w-100" src="/images/dr2enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>





    {{> _scripts}}
</body>
</html>