<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Enfermedades</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/enfermedades.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-syringe"></i> <span style="color: #12416d">Enfermedades</span></h1>
        </section>

        <div class="white-filter"></div>
    </div>


    <!-- ENFERMEDADES GRID  -->
    <div class="container">
        <div class="row">
            <h3 class="py-4 text-center w-100">
                {{!-- Contamos con los siguientes servicios para la atención de nuestros pacientes, y servicio
                de urgencias en enfermedades de colon, recto y ano las 24 horas. --}}
            </h3>
        </div>
        <div id="enfermedades" class="row px-5 mb-5">

          <div class="col-12 col-md-6 mb-5">
            <h3 class="pb-2 mb-2 text-center name" style="border-bottom:2px solid #12416d">DR. ALAN RODRÍGUEZ MONROY</h3>
            <h5 class="text-center w-100 pb-4 esp">Cirujano Gastroenterólogo <br> Endoscopia y Laparoscopia</h5> <br>
            {{!-- <figure class="col-12 w-100 text-center">
              <img class="mb-2" style="border-radius:50%; width:30%" src="/images/dr.png" alt="">
            </figure> --}}
            <div class="list-group bluelist">
              <a href="#" class="list-group-item list-group-item-action active" data-toggle="modal" data-target="#dr1">Esofagitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr2">Coledocolitiasis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr3">Fístulas abdominales</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr4">Várices Esofágicas</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr5">Gastritis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr6">Colecistitis litiásica</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr7">Pancreatitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr8">Colitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr9">Peritonitis Aguda</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr10">Apendicitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr11">Úlceras gástrica</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr12">Pólipos en estómago y colon</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr13">Hernias de pared abdominal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr14">Enfermedad Diverticular</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr15">Lipomas</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr16">Obesidad Mórbida</a>
            </div>
          </div>


          <div class="col-12 col-md-6">
            <h3 class="pb-2 mb-2 text-center name" style="border-bottom:2px solid #d792b0">DRA. YAZMÍN BERRONES MEDINA</h3>
            <h5 class="text-center w-100 pb-4 esp">Coloproctóloga <br> Cirugía de Colon, Recto y Ano</h5> <br>
            {{!-- <figure class="col-12 w-100 text-center">
              <img class="" style="border-radius:50%; width: 30%" src="/images/dra2.png" alt="">
            </figure> --}}
            <div class="list-group pinklist">
              <a href="#" class="list-group-item list-group-item-action active" data-toggle="modal" data-target="#dra1">Enfermedad Hemorroidal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra2">Diarrea</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra3">Fisura Anal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra4">Dolor y Comezón anal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra5">Estreñimiento</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra6">Abscesos y Fístulas anales</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra7">Enfermedad Diverticular</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra8">Incontinencia Anal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra9">Quiste pilonidal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra10">Colitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra11">Enfermedad Inflamatoria Intestinal (CUCI, Crohn)</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra12">Condiloma por VPH</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra13">Pólipos en colon</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra14">Cáncer de Colon, Recto y Ano</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra15">Prolapso de Órganos Pélvicos</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dra16">Manejo de estomas</a>
            </div>
          </div>
        </div>
    </div>




<div class="modal fade" id="dr1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Esofagitis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Es una inflamación del esófago causada frecuentemente por el reflujo del líquido del estómago hacia el esófago, pueden dar síntomas como dolor en pecho, sangrado y dificultad para el paso de alimentos.
        </p>
        <img class="w-100" src="/images/dr1enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Coledocolitiasis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Presencia de cálculos biliares (piedras) en el conducto colédoco (conducto que transporta bilis al intestino) que puede causar síntomas como dolor por debajo de las costillas, fiebre, coloración amarilla de piel y ojos, heces blancas, orina oscura.

El tratamiento en la mayoría de los casos es por retirar las piedras por medio de endoscopia</p>
        <img class="w-100" src="/images/dr2enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dr3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fístulas abdominales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Trayecto anormal entre el tracto digestivo hacia la pared del abdomen debido a infecciones graves del abdomen, tumores o cirugías.
        </p>
        <img class="w-50" src="/images/dr3enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Várices Esofágicas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Ingurgitación de las venas del esófago secundario a enfermedades del hígado que pueden ocasionar sangrados intensos. El sangrado se puede prevenir y se puede tratar con una endoscopia y ligadura de las várices.        </p>
        <img class="w-100" src="/images/dr4enf.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gastritis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        Inflamación del estómago causada por consumo de irritantes, reflujo biliar, medicamentos, infección bacteriana. </p>
        <img class="w-50" src="/images/dr5enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Colecistitis litiásica</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Presencia de piedras en la vesícula que provoca dolor por debajo de las costillas y vomito principalmente posterior a la ingesta de comida alta en grasas.
        </p>
        <img class="w-100" src="/images/dr6enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pancreatitis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Inflamación del páncreas secundario a ingesta de bebidas alcohólicas, comida con alto contenido de grasa y alteraciones electrolíticas. Provoca un dolor intenso abdominal e intolerancia a la alimentación, es una patología de urgencia y potencialmente grave.
        </p>
        <img class="w-100" src="/images/dr7enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Colitis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Irritación del colon que causa dolor, distensión, estreñimiento o diarrea y es generalmente causado por malos hábitos alimenticios, estrés o falta de ejercicio.
        </p>
        <img class="w-100" src="/images/dr8enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Peritonitis Aguda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Inflamación aguda de la capa que rodea los órganos abdominales causada generalmente por una infección grave en algun órgano, perforación del intestino o trauma.        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apendicitis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Inflamación aguda de la apéndice que causa dolor abdominal intenso. El tratamiento es quirúrgico y es de urgencia ya que se puede complicar.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Úlceras gástricas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Erosiones de la mucosa del estómago que causan sangrado o dolor y son secundarias a irritación, infecciones, medicamentos y/o estrés.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pólipos en estómago y colon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Pequeñas protrusiones que son causadas por inflamación, infecciones y cáncer. La importancia de detectarlos a tiempo y retirarlos radica en que son potencialmente cancerígenos.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hernias de pared abdominal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Defectos de la pared abdominal o ingle que provocan la salida de tejido u órganos del abdomen a través del defecto. Generalmente su tratamiento es quirúrgico ya que pueden estar atrapadas y causar sufrimiento de los tejidos.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enfermedad Diverticular</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Los divertículos son pequeños sacos que salen del colon en gran parte de la población, sin embargo en algunas ocasiones se pueden obstruir, infectar, perforar o sangrar. El tratamiento es muy variable (desde tratamiento farmacológico hasta cirugía)
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lipomas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Acúmulo de grasa en alguna parte del cuerpo que pueden o no causar molestias. Se pueden retirar de manera ambulatoria.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Obesidad Mórbida</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
La obesidad es un estado que provoca múltiples enfermedades como diabetes, hipertensión y/o cardiopatías. En Gastroprocto se evalúa al paciente de manera integral para ver si es candidato a colocación de balón intragástrico, manga gástrica o bypass.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>





<!--  DRA YAZMIN  ENFERMEDADES  -->

<div class="modal fade" id="dra1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enfermedad Hemorroidal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Acúmulos de vasos sanguíneos en el recto que se deben al aumento de presión abdominal y causan molestias y sangrado en el paciente. Contamos con múltiples tratamientos mínimamente invasivos para curarlas.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Diarrea</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
La diarrea es causada generalmente por mala alimentación o infecciones y se autolimita. Sin embargo, cuando ya es crónica se puede deber a múltiples causas como intestino irritable,

enfermedades autoinmunes o cáncer. Es importante acudir con un médico especialista para investigar la causa.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fisura Anal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Desgarros en el ano debidos a estreñimiento o diarrea y que provocan dolor y sangrado. Cuando las fisuras se diagnostican tempranamente se pueden curar con medicamentos, sin embargo cuando son crónicas aumenta el riesgo de necesitar cirugía.
        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dolor y Comezón anal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Son síntomas que pueden ser causados por cualquier tipo de inflamación a nivel del ano, incontinencia o malos hábitos higiénicos-dietéticos. Dependiendo de la causa es el tratamiento.        </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Estreñimiento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          La dificultad para evacuar es algo muy común en nuestra población. Es una enfermedad que debe ser estudiada integralmente ya que se puede ofrecer múltiples tratamientos médicos o terapia de rehabilitación pélvica con mejoría importante.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Abscesos y Fístulas anales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Un absceso anal es un acumulo de pus a nivel del ano y a su estado crónico se le llama fístula. La fístula es una comunicación anormal entre adentro del ano y el exterior. Se deben de tratar con cirugía ya que puede complicarse con infecciones graves.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enfermedad Diverticular</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Los divertículos son pequeños sacos que salen del colon en gran parte de la población, sin embargo en algunas ocasiones se pueden obstruir, infectar, perforar o sangrar. El tratamiento es muy variable (desde tratamiento farmacológico hasta cirugía)
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Incontinencia Anal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
La incontinencia anal o fecal es un padecimiento común en mujeres de diferentes edades que principalmente tuvieron múltiples partos. Hay pérdida involuntaria de gases o heces fecales y debe ser investigada con múltiples estudios para brindar el mejor tratamiento. La terapia de rehabilitación pélvica es un tratamiento indolor y eficaz que evita en muchos casos la cirugía o intervenciones invasivas.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quiste pilonidal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Es una cavidad que se forma alrededor de un folículo piloso en el pliegue entre los glúteos y puede infectarse causando dolor. Se debe de acudir a un especialista para que le brinde el mejor tratamiento para esta enfermedad.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Colitis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
El síndromde intestino irritable o “colitis” es una enfermedad multifactorial que se caracteriza por dolor abdominal, estreñimiento y/o diarrea y debe ser tratada integralmente por especialistas ya que puede esconder otras enfermedades importantes.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enfermedad Inflamatoria Intestinal (CUCI, Crohn)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Son enfermedades autoinmunes que se presentan en pacientes jóvenes donde el mismo cuerpo ataca a las células del tracto digestivo causando diarrea, sangrado, obstrucción, entre otos síntomas. El tratamiento va dirigido a combatir los mecanismos autoinmunes y deben ser tratados por un especialista ya que en pocos casos requiere de intervenciones quirúrgicas de urgencia.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Condiloma por VPH</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Verrugas genitales secundarias al Virus del Papiloma Humano. Dependiendo de la ubicación de los condilomas es el tratamiento y deben ser tratados de forma temprana para evitar que crezcan o se conviertan en cáncer.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pólipos en colon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Pequeñas protrusiones que son causadas por inflamación, infecciones y cáncer. La importancia de detectarlos a tiempo y retirarlos radica en que son potencialmente cancerígenos.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cáncer de Colon, Recto y Ano</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
El cáncer de colon y recto es la 2da causa de muerte por cáncer en nuestro país y en otros países la 1era causa debido a la falta de cultura preventiva mundial de este tipo de cáncer. Todas las personas >45 años se deben de realizar una colonsocopia de control en busca de pólipos que son los precursores del cáncer y así retirarlos por vía endoscópica. Haz cita con los médicos especialistas para asesoramiento a cerca de los métodos preventivos de cáncer.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prolapso de Órganos Pélvico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
El prolapso del órganos pélvicos ocurre cuando los músculos y tejidos que soportan los órganos pélvicos (el útero, la vejiga o el recto) se debilitan causando la salida de los mismos a través de la vagina o recto. Común en mujeres multíparas y los síntomas que causan pueden ser incontinencia urinaria o fecal, estreñimiento y sensación de masa. Es un padecimiento que debe ser tratado integralmente por varios especialistas y tiene cura. La terapia de piso pélvico ayuda en casos leves.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dra16" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manejo de estomas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
Es una apertura realizada por cirujano de alguna parte del tracto digestivo al exterior del abdomen que permite el paso de líquidos intestinales y heces. El manejo de un estoma requiere de expertos en el área así como la evaluación por un médico especialista para valorar si es posible reconectar al paciente y que pueda defecar normalmente.
       </p>
        <img class="w-100" src="/images/dr9enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

    {{> _scripts}}
</body>
</html>