<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Enfermedades</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/enfermedades.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-syringe"></i> <span style="color: #12416d">Enfermedades</span></h1>
        </section>

        <div class="white-filter"></div>
    </div>


    <!-- SERVICES GRID  -->
    <div class="container-fluid">
        <div class="row">
            <h3 class="py-4 text-center w-100">
                {{!-- Contamos con los siguientes servicios para la atención de nuestros pacientes, y servicio
                de urgencias en enfermedades de colon, recto y ano las 24 horas. --}}
            </h3>
        </div>
        <div id="enfermedades" class="row px-5">
          <div class="col-6">
            <h3 class="pb-2 mb-5 text-center" style="border-bottom:2px solid #12416d">DR. ALAN RODRÍGUEZ MONROY</h3>
            <div class="card-columns">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Esofagitis</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Várices Esofágicas</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Gastritis</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Úlceras Gástricas</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Hernia Hiatal</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Cáncer Gástrico</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Colecistitis litiásica Aguda (piedras en vesícula)</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Coledocolitiasis</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Pancreatitis</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Colitis</h5>
                </div>
              </div>


              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Síndrome de Intestino Irritable</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Enfermedad Inflamatoria Intestinal (CUCI, Crohn)</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Enfermedad Diverticular</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Apendicitis</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Fístulas Abdominales</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Peritonitis Aguda</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Manejo de pólipos en estómago y colon</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Hernias de pared abdominal e inguinales</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Lipomas</h5>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Obesidad Mórbida</h5>
                </div>
              </div>

            </div>
          </div>

          <div class="col-6">

          </div>
        </div>
    </div>








    {{> _scripts}}
</body>
</html>