<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Enfermedades</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/enfermedades.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-syringe"></i> <span style="color: #12416d">Enfermedades</span></h1>
        </section>

        <div class="white-filter"></div>
    </div>


    <!-- SERVICES GRID  -->
    <div class="container-fluid">
        <div class="row">
            <h3 class="py-4 text-center w-100">
                {{!-- Contamos con los siguientes servicios para la atención de nuestros pacientes, y servicio
                de urgencias en enfermedades de colon, recto y ano las 24 horas. --}}
            </h3>
        </div>
        <div id="enfermedades" class="row px-5 mb-5">

          <div class="col-12 col-md-6">
            <h3 class="pb-2 mb-2 text-center name" style="border-bottom:2px solid #12416d">DR. ALAN RODRÍGUEZ MONROY</h3>
            <figure class="col-12 w-100 text-center">
              <img class="mb-2" style="border-radius:50%; width:30%" src="/images/dr.png" alt="">
            </figure>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" data-toggle="modal" data-target="#dr1">Esofagitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr2">Coledocolitiasis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr3">Fístulas abdominales</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr4">Várices Esofágicas</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr5">Gastritis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr6">Colecistitis litiásica</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr7">Pancreatitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr8">Colitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr9">Peritonitis Aguda</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr10">Apendicitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr11">Úlceras gástrica</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr12">Pólipos en estómago y colon</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr13">Hernias de pared abdominal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr14">Enfermedad Diverticular</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr15">Lipomas</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr16">Obesidad Mórbida</a>
            </div>
          </div>


          <div class="col-12 col-md-6">
            <h3 class="pb-2 mb-2 text-center name" style="border-bottom:2px solid #d792b0">DRA. YAZMÍN BERRONES MEDINA</h3>
            <figure class="col-12 w-100 text-center">
              <img class="" style="border-radius:50%; width: 30%" src="/images/dra2.png" alt="">
            </figure>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" data-toggle="modal" data-target="#dr1">Enfermedad Hemorroidal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr2">Diarrea</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr3">Fisura Anal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr4">Dolor y Comezón anal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr5">Estreñimiento</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr6">Abscesos y Fístulas anales</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr7">Enfermedad Diverticular</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr8">Incontinencia Anal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr9">Quiste pilonidal</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr10">Colitis</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr11">Enfermedad Inflamatoria Intestinal (CUCI, Crohn)</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr12">Condiloma por VPH</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr13">Pólipos en colon</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr14">Cáncer de Colon, Recto y Ano</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr15">Prolapso de Órganos Pélvicos</a>
              <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#dr16">Manejo de estomas</a>
            </div>
          </div>
        </div>
    </div>




<div class="modal fade" id="dr1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Esofagitis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Es una inflamación del esófago causada frecuentemente por el reflujo del líquido del estómago hacia el esófago, pueden dar síntomas como dolor en pecho, sangrado y dificultad para el paso de alimentos.
        </p>
        <img class="w-100" src="/images/dr1enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dr2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Coledocolitiasis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Presencia de cálculos biliares (piedras) en el conducto colédoco (conducto que transporta bilis al intestino) que puede causar síntomas como dolor por debajo de las costillas, fiebre, coloración amarilla de piel y ojos, heces blancas, orina oscura.

El tratamiento en la mayoría de los casos es por retirar las piedras por medio de endoscopia</p>
        <img class="w-100" src="/images/dr2enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dr3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fístulas abdominales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Trayecto anormal entre el tracto digestivo hacia la pared del abdomen debido a infecciones graves del abdomen, tumores o cirugías.
        </p>
        <img class="w-50" src="/images/dr3enf.jpg" alt="">
      </div>
    </div>
  </div>
</div>




    {{> _scripts}}
</body>
</html>