<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto</title>
    {{> _links}}
</head> 
<body>

        {{> _mainmenu}}
        
<div id="maincarrusel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#maincarrusel" data-slide-to="0" class="active"></li>
    <li data-target="#maincarrusel" data-slide-to="1"></li>
    <li data-target="#maincarrusel" data-slide-to="2"></li>
    <li data-target="#maincarrusel" data-slide-to="3"></li>
    <li data-target="#maincarrusel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active carrusel-left">
        <img src="/images/carrusel1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-xl-block">
            <div class="w-100 d-flex">
                <h5 class="text-left">Enfermedades <span style="font-size: 0.7em;">Gastrointestinales</span> </h5>
            </div>
            <div class="w-100 d-flex">
                <p>Los conocimientos mas actualizados en el tracto digestivo</p>
            </div>
            <div class="w-100 d-flex">
                <a href="" class="">Conoce más</a>
            </div>
        </div>
    </div>
    <div class="carousel-item carrusel-left-2">
      <img src="/images/carrusel2.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-xl-block">
            <div class="w-100 d-flex">
                <h5 class="text-left">Uso de Alta Tecnología Médica</h5>
            </div>
            <div class="w-100 d-flex">
                <p>Contamos con equipos innovadores para atención al paciente</p>
            </div>
            <div class="w-100 d-flex">
                <a href="" class="">Conoce más</a>
            </div>
        </div>
    </div>
    <div class="carousel-item carrusel-right">
      <img src="/images/carrusel 3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-xl-block">
            <div class="w-100 d-flex">
                <h5 class="text-left">Atención de excelencia</h5>
            </div>
            <div class="w-100 d-flex">
                <p>Conoce los servicios que ofrecemos</p>
            </div>
            <div class="w-100 d-flex">
                <a href="" class="">Conoce más</a>
            </div>
        </div>
    </div>
    <div class="carousel-item carrusel-left">
        <img src="/images/carrusel 4.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-xl-block">
            <div class="w-100 d-flex">
                <h5 class="text-left">Consulta Médica con explicación detallada</h5>
            </div>
            <div class="w-100 d-flex">
                <p>Se brindan múltiples opciones para cada patología</p>
            </div>
            <div class="w-100 d-flex">
                <a href="" class="">Conoce más</a>
            </div>
        </div>
    </div>
    <div class="carousel-item carrusel-left-2">
      <img src="/images/carrusel 5.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-xl-block">
            <div class="w-100 d-flex">
                <h5 class="text-left">Médicos Certificados</h5>
            </div>
            <div class="w-100 d-flex">
                <p>Somos médicos con los conocimientos mas actualizados para brindarte la mejor opción</p>
            </div>
            <div class="w-100 d-flex">
                <a href="" class="">Conoce más</a>
            </div>
        </div>
    </div>
  </div>
  {{!-- <a class="carousel-control-prev" href="#maincarrusel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#maincarrusel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> --}}
</div>

<div id="servicios" class="container-fluid d-flex align-items-center">
    <div  class="container">
        <div class="row">
            <div class="col-3">
                <i class="fas fa-clipboard-list w-100"></i>
                <h3 class="text-center my-4">SERVICIOS</h3>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Consultas</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Urgencias</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Cirugía Ambulatoria</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Prevención de Cancer de Colon y Recto</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        Diagnóstico y tratamiento de enfermedades de colon, recto y ano con trato profesional, amable y confidencial. Se ofrecen múltiples manejos sin dolor o mínimamente invasivos antes de la cirugía, con las técnicas mas innovadoras a nivel mundial.
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        Atención de enfermedades de urgencia de colon, recto y ano las 24 horas
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        Realización de cirugía de corta estancia con técnicas mínimamente invasivas que disminuyen el dolor y ayudan a preservar la continencia fecal.   
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        El Cáncer Colorrectal representa la 3era causa de cáncer a nivel mundial
                         y la 2da causa de muertes por cáncer. Esto se debe a que las personas desconocen
                          el protocolo para prevenir y curar el cáncer antes de que aparezca el cual se debe
                           realizar a toda la población a partir de los 45 años o antes si hay historia familiar.
                    </div>
                </div>
            </div>



            <!--ENFERMEDADES-->
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home2" role="tabpanel" aria-labelledby="v-pills-home-tab2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis fugiat sequi similique illo est aperiam
                        sit commodi, mollitia recusandae tempore? Magnam veniam aperiam magni commodi repudiandae harum ullam illo non?
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel" aria-labelledby="v-pills-profile-tab2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis fugiat sequi similique illo est aperiam
                        sit commodi, mollitia recusandae tempore? Magnam veniam aperiam magni commodi repudiandae harum ullam illo non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis fugiat sequi similique illo est aperiam
                        sit commodi, mollitia recusandae tempore? Magnam veniam aperiam magni commodi repudiandae harum ullam illo non?
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages2" role="tabpanel" aria-labelledby="v-pills-messages-tab2">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis fugiat sequi similique illo est aperiam
                        sit commodi, mollitia recusandae tempore? Magnam veniam aperiam magni commodi repudiandae harum ullam illo non?   
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings2" role="tabpanel" aria-labelledby="v-pills-settings-tab2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis fugiat sequi similique illo est aperiam
                        sit commodi, mollitia recusandae tempore? Magnam veniam aperiam magni commodi repudiandae harum ullam illo non?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis fugiat sequi similique illo est aperiam
                        sit commodi, mollitia recusandae tempore? Magnam veniam aperiam magni commodi repudiandae harum ullam illo non?
                    </div>
                </div>
            </div>
            <div class="col-3">
                <i class="fas fa-syringe w-100"></i>
                <h3 class="text-center my-4">ENFERMEDADES</h3>
                <div id="enfermedades" class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab2" data-toggle="pill" href="#v-pills-home2" role="tab" aria-controls="v-pills-home" aria-selected="true">Colitis</a>
                    <a class="nav-link" id="v-pills-profile-tab2" data-toggle="pill" href="#v-pills-profile2" role="tab" aria-controls="v-pills-profile" aria-selected="false">Estreñimiento</a>
                    <a class="nav-link" id="v-pills-messages-tab2" data-toggle="pill" href="#v-pills-messages2" role="tab" aria-controls="v-pills-messages" aria-selected="false">Diarrea Crónica</a>
                    <a class="nav-link" id="v-pills-settings-tab2" data-toggle="pill" href="#v-pills-settings2" role="tab" aria-controls="v-pills-settings" aria-selected="false">Dolor y Comezón Anal</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="ubicacion" class="container-fluid">
    <div class="row">
        <div id="map"></div>
    </div>

    <div class="contact d-flex align-items-center flex-wrap">
        <h5>Dr. Alan Rodríguez Monroy</h5>
        <h6><b>Licenciatura: </b>Médico Cirujano</h6>   
        <h6><b>Cel: </b>(52) 449 547 9458</h6>        
        <h6><b>Cédula Profesional: </b>7932867</h6>    
        <h6><b>Cédula Especialidad: </b>10996179</h6>  
    </div>

    <div class="contact2 d-flex align-items-center flex-wrap">
        <h5>Dra. Yazmín Berrones</h5>
        <h6><b>Licenciatura: </b>Médico Cirujano</h6>   
        <h6><b>Cel: </b>(52) 449 155 8754</h6>        
        <h6><b>Cédula Profesional: </b>7741561</h6>    
        <h6><b>Cédula Especialidad: </b>10993928</h6>        
    </div>
</div>


<div id="socialnetworks" class="d-flex">
    <div class="col-5">
        <img src="/images/logobig.jpeg" alt="">
    </div>
    <div class="col-7">
        <h4>Nuestras Redes Sociales</h4>
        <div>
            <img src="/images/facebook.png" alt="">
            <img src="/images/instagram.png" alt="">
            <img src="/images/whatsapp.png" alt="">
        </div>
    </div>
</div>



<div id="copyright" class="container-fluid">
    <div class="container">
        <div class="row">
            <p class="mb-0 col-8">© Gastroprocto Medical Center. Todos los derechos reservados.</p>
            <p class="mb-0 col-4 text-right ">Diseñado por: SMART Web Applications</p>
        </div>
    </div>
    

</div>
        {{> _scripts}}
</body>
</html>