    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gastroprocto - Promociones</title>
        {{> _links}}
    </head>
    <body>
        {{> _mainmenu}}

        <div class="h-title">
            <figure>
                <img src="/images/promocionesbg.jpg" alt="">   
            </figure>
            <section>
                <h1 class="page-title"> <i class="fas fa-box"></i> <span style="color: #12416d">Promociones</span></h1>
            </section>

            <div class="white-filter"></div>
        </div>



        <!-- DR RODRIGUEZ-->
        <div class=" container-fluid">
            <div class="row mt-3">
                <div class="col-12 col-md-6 mb-3">
                    <img class="w-100" src="/images/PROMO 3.png" alt="">                        
                </div>
                <div class="col-12 col-md-6">
                    <img class="w-100" src="/images/promo 5.png" alt="">                        
                </div>
            </div>
                
        </div>  
        {{> _scripts}}
    </body>
    </html>