    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gastroprocto - Quienes Somos</title>
        {{> _links}}
    </head>
    <body>
        {{> _mainmenu}}

        <div class="h-title">
            <figure>
                <img src="/images/quienessomo.jpg" alt="">   
            </figure>
            <section>
                <h1 class="page-title"> <i class="fas fa-user-md"></i> <span style="color: #12416d">Quienes</span> <span style="color: #12416d">Somos</span> </h1>
            </section>

            <div class="white-filter"></div>
        </div>



        <!-- DR RODRIGUEZ-->
        <div class=" container info">
            <div class="row mt-5">
                <h2 class="w-100 text-center" style="border-bottom:2px solid #12416d">DR. ALAN RODRÍGUEZ MONROY</h2>
            
                <!---   CV  DR RODRIGUEZ-->
                <figure class="col-5">
                            <img class="mt-5" src="/images/user-male.png" alt="">
                </figure>
                <div class="col-7">

                    <ul class="nav nav-pills my-3 nav-fill" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active py-3" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Información</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Servicios</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <!--INFORMACION DR RODRIGUEZ-->
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <h3>Estudios</h3><br>
                                        <ul>
                                            <li>Médico Cirujano egresado de la Universidad Nacional Autónoma de México</li>
                                            <li>Especialidad en Cirugía General en Centro Médico Nacional La Raza (UNAM)</li>
                                            <li>Alta Especialidad en Endoscopia Gastrointestinal en el Hospital Central Norte de PEMEX (UNAM)</li>
                                            <li>Certificación por el Consejo Mexicano de Cirugía General A.C.</li>
                                            <li>Certificación del Consejo Mexicano de Gastroenterología A.C.</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Rotaciones</h3><br>
                                        <ul>
                                            <li>Departamento de Endoscopia y Cirugía Robótica en el Hospital Allina Health West St. Paul Clinic en Minnesota, Estados Unidos.</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Cursos</h3><br>
                                        <ul>
                                            <li>Encuentro de Residentes de Enfermedad Inflamatoria Intestinal 2019</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Asociaciones</h3><br>
                                        <ul>
                                            <li>Miembro de la Asociación Mexicana de Cirugía General</li>
                                            <li>Miembro de la American Society for Gastrointestinal Endoscopy (ASGE)</li>
                                        </ul>
                                    </li>
                                </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h4>Consulta</h4>
                                    <ul>
                                        <li>Evaluación integral de enfermedades gastrointestinales 
                                            y de la vía biliar usando técnicas endoscópicas avanzadas y laparoscópicas de mínima invasión.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="text-danger">Urgencias</h4>
                                    <ul>
                                        <li>Atención de enfermedades gastrointestinales de urgencia las 24 horas.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Endoscopia Avanzada</h4>
                                    <ul>
                                        <li>Realización de panendoscopia, duodenoscopia, colonoscopia con sedación y CPRE para diagnóstico/tratamiento de reflujo gastroesofágico,
                                            hernia hiatal, gastritis, piedras en vía biliar, colitis, pólipos, cáncer de tracto digestivo y sangrado de tubo digestivo.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Terapia Bariátrica</h4>
                                    <ul>
                                        <li>Asesoramiento y uso de técnicas endoscópicas y quirúrgicas para el tratamiento de la obesidad mórbida.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Prevención de cáncer de color y recto</h4>
                                    <ul>
                                        <li>El Cáncer Colorrectal representa la 3era causa de cáncer a nivel mundial y la 2da causa de muertes
                                        por cáncer. Esto se debe a que las personas desconocen el protocolo para prevenir y curar el cáncer 
                                        antes de que aparezca el cual se debe realizar a toda la población a partir de los 45 años o antes si hay historia familiar.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Cirugía Ambulatoria</h4>
                                    <ul>
                                        <li>Resolución de algunas enfermedades con cirugía de corta estancia y salida del hospital el mismo día.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Lamparoscopia Abdominal</h4>
                                    <ul>
                                        <li>Realización de cirugía mínimamente invasiva con heridas pequeñas y poca manipulación de tejidos que promueve una recuperación postoperatoria mas rápida.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
            
                </div>




                <h2 class="w-100 text-center mt-5 pt-5" style="border-bottom:2px solid #f78f8f">DRA. YAZMÍN BERRONES MEDINA</h2>
            
                <!---   CV  DR RODRIGUEZ-->
                <figure class="col-5">
                            <img class="mt-5" src="/images/female.png" alt="">
                </figure>
                <div class="col-7" id="berrones">

                    <ul  class="nav nav-pills my-3 nav-fill" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active py-3" id="pills-2-tab" data-toggle="pill" href="#pills-i-2" role="tab" aria-controls="pills-home" aria-selected="true">Información</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3" id="pills-profile-tab" data-toggle="pill" href="#pills-s-2" role="tab" aria-controls="pills-profile" aria-selected="false">Servicios</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <!--INFORMACION DRA BERRONES-->
                        <div class="tab-pane fade show active" id="pills-i-2" role="tabpanel" aria-labelledby="pills-home-tab">
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <h3>Estudios</h3><br>
                                        <ul>
                                            <li>Médico Cirujano egresada de la Universidad Autónoma de Aguascalientes</li>
                                            <li>Especialidad en Cirugía General en Centro Médico Nacional La Raza (UNAM)</li>
                                            <li>Subespecialidad en Coloproctología en el Hospital General de México (UNAM)</li>
                                            <li>Certificación por el Consejo Mexicano de Cirugía General A.C.</li>
                                            <li>Certificación del Consejo Mexicano de Especialistas en Coloproctología A.C.</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Rotaciones</h3><br>
                                        <ul>
                                            <li>Departamento Colorrectal y Cirugía Robótica en el Hospital Keck y LAC de University of Southern California, Estados Unidos.</li>
                                            <li>Terapia de Piso Pélvico en el Instituto Nacional de Perinatología</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Cursos</h3><br>
                                        <ul>
                                            <li>Curso-Taller de Rehabilitación del Piso Pélvico Femenino en Instituto Nacional de Perinatología</li>
                                            <li>Tópicos selectos en Fisiología Anorrectal en Hospital General de México</li>
                                            <li>Curso-Taller de Fístulas Anales Complejas en Hospital General de México</li>
                                            <li>Encuentro de Residentes de Enfermedad Inflamatoria Intestinal 2019</li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <h3>Asociaciones</h3><br>
                                        <ul>
                                            <li>Miembro de la American Society of Colon and Rectal Surgeons</li>
                                            <li>Miembro de la Asociación Mexicana de Cirugía General</li>
                                        </ul>
                                    </li>
                                </ul>
                        </div>
                        <div class="tab-pane fade" id="pills-s-2" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h4>Consulta</h4>
                                    <ul>
                                        <li>Diagnóstico y tratamiento de enfermedades de colon, recto y ano 
                                            con trato profesional, amable y confidencial. Se ofrecen múltiples manejos sin dolor o 
                                            mínimamente invasivos antes de la cirugía, con las técnicas mas innovadoras a nivel mundial.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4 class="text-danger">Urgencias</h4>
                                    <ul>
                                        <li>Atención de enfermedades de urgencia de colon, recto y ano las 24 horas</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Terapia de rehabilitación pelvica</h4>
                                    <ul>
                                        <li>Manejo integral de enfermedades de disfunción del piso pélvico como estreñimiento,
                                            incontinencia urinaria y fecal, escape de gases, prolapso, dolor pélvico, anal y vaginal.</li>
                                            <ul>
                                                <li>Electroestimulación: Aplicación de estímulos eléctricos indoloros 
                                                    que permite tratar padecimientos como incontinencia, estreñimiento, dolor crónico.</li>
                                                <li>
                                                    Biofeedback: Uso de la tecnología con imágenes y sonidos que permiten
                                                    conocer al paciente la manera correcta de defecar y fortalecer la musculatura del piso pélvico.
                                                </li>
                                                <li>
                                                    Re-educación evacuatoria: Educación al paciente del proceso
                                                    de la evacuación con eliminación de los malos hábitos defecatorios que producen estreñimiento crónico.
                                                </li>
                                            </ul>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Ultrasonido Endoanal 3D</h4>
                                    <ul>
                                        <li>Realización de estudios ultrasonográficos en 3D para ver la anatomía del ano y
                                            realizar un diagnóstico certero en patologías como incontinencia anal, abscesos y fistulas anales.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Prevención de cáncer de color y recto</h4>
                                    <ul>
                                        <li>El Cáncer Colorrectal representa la 3era causa de cáncer a nivel mundial y
                                            la 2da causa de muertes por cáncer. Esto se debe a que las personas 
                                            desconocen el protocolo para prevenir y curar el cáncer antes de que aparezca
                                            el cual se debe realizar a toda la población a partir de los 45 años o antes si hay historia familiar.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Tratamiento minimamente invasivo de enfermedades anorrectales</h4>
                                    <ul>
                                        <li>Se ofrecen múltiples opciones de tratamientos no quirúrgicos para resolver enfermedades anorrectales.</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <h4>Cirugia Ambulatoria</h4>
                                    <ul>
                                        <li>Realización de cirugía de corta estancia con técnicas mínimamente
                                            invasivas que disminuyen el dolor y ayudan a preservar la continencia fecal.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
            
                </div>


                
            </div>


                
        </div>  
        {{> _scripts}}
    </body>
    </html>