<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Quienes Somos</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/quienessomo.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-user-md"></i> <span style="color: #12416d">Quienes</span> <span style="color: #12416d">Somos</span> </h1>
        </section>

        <div class="white-filter"></div>
    </div>



    <!-- DR RODRIGUEZ-->
    <div>
        
    </div>
    {{> _scripts}}
</body>
</html>