<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Enfermedades</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/enfermedades.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-clipboard-list"></i> <span style="color: #12416d">Servicios</span></h1>
        </section>

        <div class="white-filter"></div>
    </div>


    <!-- SERVICES GRID  -->
    <div class="container mt-4">
        <div class="row">
            <h4 class="py-5 text-center w-100">
                Contamos con los siguientes servicios para la atención de nuestros pacientes, y servicio
                de urgencias en enfermedades de colon, recto y ano las 24 horas.
            </h4>
        </div>
    </div>
        
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-6">
                <div class="row justify-content-center">
                    <h3 class="pb-2 px-4" style="border-bottom:2px solid #12416d">DR. ALAN RODRÍGUEZ MONROY</h3>
                </div>
                <div class="row mt-5 px-4">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Consulta</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Urgencias</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Endoscopia Avanzada</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Terapia Bariátrica</a>
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Prevención de Cancer de Color y Recto</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Cirugia Ambulatoria</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Laparoscopia Abdominal</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                        </div>     
                    </div>
                </div>
                    
                    
            </div>
            <div class="col-6">
                <div class="row justify-content-center">
                    <h3 class="pb-3 px-4" style="border-bottom:2px solid #f78f8f">DRA. YAZMÍN BERRONES MEDINA</h3>
                </div>

                <div class="row mt-5 px-4">
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                        </div>     
                    </div>
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Consulta</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Urgencias</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Endoscopia Avanzada</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Terapia Bariátrica</a>
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Prevención de Cancer de Color y Recto</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Cirugia Ambulatoria</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Laparoscopia Abdominal</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>




    {{> _scripts}}
</body>
</html>