<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Servicios</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/services.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-clipboard-list"></i> <span style="color: #12416d">Servicios</span></h1>
        </section>

        <div class="white-filter"></div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <h3 class="py-5 text-center w-100">
                Contamos con los siguientes servicios para la atención de nuestros pacientes, y servicio
                de urgencias en enfermedades de colon, recto y ano las 24 horas.
            </h3>
        </div>
        <div class="row" id="services-cards">
            <div class="col-4">
                <section>
                    <h3>CONSULTAS</h3>
                </section>
            </div>
            <div class="col-4">
                <section>
                    <h3>URGENCIAS</h3>
                </section>
            </div>
            <div class="col-4">
                <section>
                   <h3>TERAPIA DE REHABILITACIÓN PELVICA</h3>
                </section>
                
            </div>
            <div class="col-4">
                <section>
                    <h3>ULTRASONIDO ENDOANAL 3D</h3>
                </section>
            </div>
            <div class="col-4">
                <section>
                   <h3>PREVENCIÓN DE CANCER DE COLON Y RECTO</h3>
                </section>
                
            </div>
            <div class="col-4">
                <section>
                    <h3>TRATAMIENTO MINIMAMENTE INVASIVO DE ENFERMEDADES ANORRECTALES</h3>
                </section>
            </div>
            <div class="col-4">
                <section>
                    <h3>CIRUGIA AMBULATORIA</h3>
                </section>
            </div>
            <div class="col-4">
                <section>
                   <h3>ENDOSCOPIA AVANZADA</h3>
                </section>
                
            </div>
            <div class="col-4">
                <section>
                    <h3>TERAPIA BARIÁTRICA</h3>
                </section>
            </div>
            <div class="col-4">
                <section>
                    <h3>PREVENCIÓN DE CANCER DE COLON Y RECTO</h3>
                </section>
            </div>
            <div class="col-4">
                <section>
                   <h3>LAPAROSCOPIA ABDOMINAL</h3>
                </section>
                
            </div>
        </div>
    </div>
    {{> _scripts}}
</body>
</html>