<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Servicios</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/services.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-clipboard-list"></i> <span style="color: #12416d">Servicios</span></h1>
        </section>

        <div class="white-filter"></div>
    </div>


    <!-- SERVICES GRID  -->
    <div class="container mt-4">
        <div class="row">
            <h3 class="py-5 text-center w-100">
                Contamos con los siguientes servicios para la atención de nuestros pacientes, y servicio
                de urgencias en enfermedades de colon, recto y ano las 24 horas.
            </h3>
        </div>
        <div class="row" id="services-cards">
            <div class="col-4">
                <section data-toggle="modal" data-target="#consultasm">
                    <h3>CONSULTAS</h3>
                </section>
            </div>
            <div class="col-4">
                <section data-target="#terapiam" data-toggle="modal">
                   <h3>TERAPIA DE REHABILITACIÓN PELVICA</h3>
                </section>
                
            </div>
            <div class="col-4">
                <section data-target="#endoanal3dm" data-toggle="modal">
                    <h3>ULTRASONIDO ENDOANAL 3D</h3>
                </section>
            </div>
            <div class="col-4">
                <section data-target="#prevencionm" data-toggle="modal">
                   <h3>PREVENCIÓN DE CANCER DE COLON Y RECTO</h3>
                </section>
                
            </div>
            <div class="col-4">
                <section data-target="#tratamientom" data-toggle="modal">
                    <h3>TRATAMIENTO MINIMAMENTE INVASIVO DE ENFERMEDADES ANORRECTALES</h3>
                </section>
            </div>
            <div class="col-4">
                <section data-target="#cirugiam" data-toggle="modal">
                    <h3>CIRUGIA AMBULATORIA</h3>
                </section>
            </div>
            <div class="col-4">
                <section data-target="#endoscopiam" data-toggle="modal">
                   <h3>ENDOSCOPIA AVANZADA</h3>
                </section>
                
            </div>
            <div class="col-4">
                <section data-target="#bariatricam" data-toggle="modal">
                    <h3>TERAPIA BARIÁTRICA</h3>
                </section>
            </div>
            <div class="col-4">
                <section data-target="#cancerm" data-toggle="modal">
                    <h3>PREVENCIÓN DE CANCER DE COLON Y RECTO</h3>
                </section>
            </div>
            <div class="col-4">
                <section data-target="#abdominalm" data-toggle="modal">
                   <h3>LAPAROSCOPIA ABDOMINAL</h3>
                </section>
                
            </div>
        </div>
    </div>




    <!-- Modal contacto -->
<div class="modal fade" id="consultasm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CONSULTA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Diagnóstico y tratamiento de enfermedades de colon, recto y ano con trato profesional, amable y confidencial. Se ofrecen múltiples manejos sin dolor o 
        mínimamente invasivos antes de la cirugía, con las técnicas mas innovadoras a nivel mundial.
      </div>
    </div>
  </div>
</div>

    <!-- Modal Terapia -->
<div class="modal fade" id="terapiam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TERAPIA DE REHABILITACIÓN PELVICA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Manejo integral de enfermedades de disfunción del piso pélvico como estreñimiento,
         incontinencia urinaria y fecal, escape de gases, prolapso, dolor pélvico, anal y vaginal.
         <ul>
             <li>
                 Electroestimulación: Aplicación de estímulos eléctricos indoloros que permite tratar padecimientos como incontinencia, estreñimiento, dolor crónico.   
             </li>
             <li>
                 Biofeedback: Uso de la tecnología con imágenes y sonidos que permiten conocer al paciente la manera correcta de defecar y fortalecer la musculatura del piso pélvico.
             </li>
             <li>
                 Re-educación evacuatoria: Educación al paciente del proceso de la evacuación con eliminación de los malos hábitos defecatorios que producen estreñimiento crónico.
             </li>
         </ul>
      </div>
    </div>
  </div>
</div>



<!-- Modal 3D -->
<div class="modal fade" id="endoanal3dm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ULTRASONIDO ENDOANAL 3D</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Realización de estudios ultrasonográficos en 3D para ver la anatomía del ano y realizar un diagnóstico certero en patologías como incontinencia anal, abscesos y fistulas anales.
      </div>
    </div>
  </div>
</div>


<!-- Modal 3D -->
<div class="modal fade" id="prevencionm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PREVENCIÓN DE CANCER DE COLON Y RECTO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          El Cáncer Colorrectal representa la 3era causa de cáncer a nivel mundial y la 2da causa de muertes por cáncer. Esto se debe a que las personas desconocen el protocolo 
          para prevenir y curar el cáncer antes de que aparezca el cual se debe realizar a toda la población a partir de los 45 años o antes si hay historia familiar.
      </div>
    </div>
  </div>
</div>


<!-- Modal 3D -->
<div class="modal fade" id="tratamientom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TRATAMIENTO MINIMAMENTE INVASIVO DE ENFERMEDADES ANORRECTALES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Se ofrecen múltiples opciones de tratamientos no quirúrgicos para resolver enfermedades anorrectales.
      </div>
    </div>
  </div>
</div>

<!-- Modal 3D -->
<div class="modal fade" id="cirugiam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CIRUGIA AMBULATORIA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
Realización de cirugía de corta estancia con técnicas mínimamente invasivas que disminuyen el dolor y ayudan a preservar la continencia fecal.      </div>
    </div>
  </div>
</div>


<!-- Modal 3D -->
<div class="modal fade" id="endoscopiam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ENDOSCOPIA AVANZADA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Realización de panendoscopia, duodenoscopia, colonoscopia con sedación y CPRE para diagnóstico/tratamiento de reflujo gastroesofágico, hernia hiatal, gastritis, piedras en vía biliar, colitis, pólipos, cáncer de tracto digestivo y sangrado de tubo digestivo.
    </div>
  </div>
</div>
</div>

<!-- Modal 3D -->
<div class="modal fade" id="bariatricam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TERAPIA BARIÁTRICA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
Asesoramiento y uso de técnicas endoscópicas y quirúrgicas para el tratamiento de la obesidad mórbida.    </div>
  </div>
</div>
</div>


<!-- Modal 3D -->
<div class="modal fade" id="cancerm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PREVENCIÓN DE CANCER DE COLON Y RECTO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          El Cáncer Colorrectal representa la 3era causa de cáncer a nivel mundial
           y la 2da causa de muertes por cáncer. Esto se debe a que las personas
            desconocen el protocolo para prevenir y curar el cáncer antes de que
             aparezca el cual se debe realizar a toda la población a partir de los 
             45 años o antes si hay historia familiar.
 </div>
  </div>
</div>
</div>


<!-- Modal 3D -->
<div class="modal fade" id="abdominalm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LAPAROSCOPIA ABDOMINAL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
Realización de cirugía mínimamente invasiva con heridas pequeñas y poca manipulación de tejidos que promueve una recuperación postoperatoria mas rápida
 </div>
  </div>
</div>
</div>



    {{> _scripts}}
</body>
</html>