<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gastroprocto - Enfermedades</title>
    {{> _links}}
</head>
<body>
    {{> _mainmenu}}

    <div class="h-title">
        <figure>
            <img src="/images/enfermedades.jpg" alt="">   
        </figure>
        <section>
            <h1 class="page-title"> <i class="fas fa-clipboard-list"></i> <span style="color: #12416d">Servicios</span></h1>
        </section>

        <div class="white-filter"></div>
    </div>


    <!-- SERVICES GRID  -->
    <div class="container mt-4">
        <div class="row">
            <h4 class="py-5 text-center w-100">
                Contamos con los siguientes servicios para la atención de nuestros pacientes, y servicio
                de urgencias en enfermedades de colon, recto y ano las 24 horas.
            </h4>
        </div>
    </div>
        
    <div id="serviciosgrid" class="container-fluid mt-4">
        <div class="row">
            <div class="col-6 mb-5">
                <div class="row justify-content-center">
                    <h3 class="pb-2 px-4" style="border-bottom:2px solid #12416d">DR. ALAN RODRÍGUEZ MONROY</h3>
                </div>
                <div class="row my-5 px-4">
                    <div class="col-4" id="bluestyle">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-1a" role="tab" aria-controls="home">Consulta</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-2a" role="tab" aria-controls="profile">Urgencias</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-3a" role="tab" aria-controls="messages">Endoscopia Avanzada</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-4a" role="tab" aria-controls="settings">Terapia Bariátrica</a>
                            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-5a" role="tab" aria-controls="home">Prevención de Cancer de Color y Recto</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-6a" role="tab" aria-controls="profile">Cirugia Ambulatoria</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-7a" role="tab" aria-controls="messages">Laparoscopia Abdominal</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-1a" role="tabpanel" aria-labelledby="list-home-list">
                                Evaluación integral de enfermedades gastrointestinales y de la vía biliar usando técnicas endoscópicas avanzadas y laparoscópicas de mínima invasión.
                                <img class="w-100 mt-3 rounded" src="/images/consulta dr.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-2a" role="tabpanel" aria-labelledby="list-profile-list">
                                Atención de enfermedades gastrointestinales de urgencia las 24 horas.
                                <img class="w-100 mt-3 rounded" src="/images/servicios dr 2.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-3a" role="tabpanel" aria-labelledby="list-messages-list">
                                Realización de panendoscopia, duodenoscopia, colonoscopia con sedación y CPRE para diagnóstico/tratamiento de reflujo gastroesofágico, hernia hiatal, gastritis, piedras en vía biliar, colitis, pólipos, cáncer de tracto digestivo y sangrado de tubo digestivo.
                                <img class="w-100 mt-3 rounded" src="/images/servicios dr 3.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-4a" role="tabpanel" aria-labelledby="list-settings-list">
                                Asesoramiento y uso de técnicas endoscópicas y quirúrgicas para el tratamiento de la obesidad mórbida.
                                <img class="w-100 mt-3 rounded" src="/images/servicios dr 4.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-5a" role="tabpanel" aria-labelledby="list-settings-list">
                                El Cáncer Colorrectal representa la 3era causa de cáncer a nivel mundial y la 2da causa de muertes por cáncer. Esto se debe a que las personas desconocen el protocolo para prevenir y curar el cáncer antes de que aparezca el cual se debe realizar a toda la población a partir de los 45 años o antes si hay historia familiar.
                                <img class="w-100 mt-3 rounded" src="/images/servicio 5 dra.png" alt="">    
                            </div>
                            <div class="tab-pane fade" id="list-6a" role="tabpanel" aria-labelledby="list-settings-list">
                                Resolución de algunas enfermedades con cirugía de corta estancia y salida del hospital el mismo día.
                                <img class="w-100 mt-3 rounded" src="/images/servicios dr 5.png" alt="">  
                            </div>
                            <div class="tab-pane fade" id="list-7a" role="tabpanel" aria-labelledby="list-settings-list">
                                Realización de cirugía mínimamente invasiva con heridas pequeñas y poca manipulación de tejidos que promueve una recuperación postoperatoria mas rápida.
                                <img class="w-100 mt-3 rounded" src="/images/servicios dr 6.png" alt="">  
                            </div>
                        </div>     
                    </div>
                </div>
                    
                    
            </div>
            <div class="col-6 mb-5">
                <div class="row justify-content-center">
                    <h3 class="pb-2 px-4" style="border-bottom:2px solid #d792b0">DRA. YAZMÍN BERRONES MEDINA</h3>
                </div>

                <div class="row my-5 px-4">
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-1" role="tabpanel" aria-labelledby="list-home-list">
                                Diagnóstico y tratamiento de enfermedades de colon, recto y ano con trato profesional, amable y confidencial. Se ofrecen múltiples manejos sin dolor o mínimamente invasivos antes de la cirugía, con las técnicas mas innovadoras a nivel mundial.
                                <img class="w-100 mt-3 rounded" src="/images/consulta dra.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-profile-list">
                                Atención de enfermedades de urgencia de colon, recto y ano las 24 horas
                                <img class="w-100 mt-3 rounded" src="/images/urgencia dra.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-3" role="tabpanel" aria-labelledby="list-messages-list">
                                Manejo integral de enfermedades de disfunción del piso pélvico como estreñimiento, incontinencia urinaria y fecal, escape de gases, prolapso, dolor pélvico, anal y vaginal.<br>
                                <br>
                                <ul>
                                    <li>Electroestimulación: Aplicación de estímulos eléctricos indoloros que permite tratar padecimientos como incontinencia, estreñimiento, dolor crónico.</li>
                                    <li>Biofeedback: Uso de la tecnología con imágenes y sonidos que permiten conocer al paciente la manera correcta de defecar y fortalecer la musculatura del piso pélvico.</li>
                                    <li>Re-educación evacuatoria: Educación al paciente del proceso de la evacuación con eliminación de los malos hábitos defecatorios que producen estreñimiento crónico.</li>
                                </ul>
                                <img class="w-100 mt-3 rounded" src="/images/servicio 3 dra.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-4" role="tabpanel" aria-labelledby="list-settings-list">
                                Realización de estudios ultrasonográficos en 3D para ver la anatomía del ano y realizar un diagnóstico certero en patologías como incontinencia anal, abscesos y fistulas anales.
                                <img class="w-100 mt-3 rounded" src="/images/servicio 4 dra.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-5" role="tabpanel" aria-labelledby="list-settings-list">
                                El Cáncer Colorrectal representa la 3era causa de cáncer a nivel mundial y la 2da causa de muertes por cáncer. Esto se debe a que las personas desconocen el protocolo para prevenir y curar el cáncer antes de que aparezca el cual se debe realizar a toda la población a partir de los 45 años o antes si hay historia familiar.
                                <img class="w-100 mt-3 rounded" src="/images/servicio 5 dra.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-6" role="tabpanel" aria-labelledby="list-settings-list">
                                Se ofrecen múltiples opciones de tratamientos no quirúrgicos para resolver enfermedades anorrectales.
                                <img class="w-100 mt-3 rounded" src="/images/servicio 6 dra.png" alt="">
                            </div>
                            <div class="tab-pane fade" id="list-7" role="tabpanel" aria-labelledby="list-settings-list">
                                Realización de cirugía de corta estancia con técnicas mínimamente invasivas que disminuyen el dolor y ayudan a preservar la continencia fecal.
                                <img class="w-100 mt-3 rounded" src="/images/servicio 7 dra.png" alt="">
                            </div>
                        </div>     
                    </div>
                    <div class="col-4" id="pinkstyle">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-1" role="tab" aria-controls="home">Consulta</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-2" role="tab" aria-controls="profile">Urgencias</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-3" role="tab" aria-controls="messages">Terapia de Rehabilitación Pelvica</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-4" role="tab" aria-controls="settings">Ultrasonido Endoanal 3D</a>
                            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-5" role="tab" aria-controls="home">Prevención de Cancer de Color y Recto</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-6" role="tab" aria-controls="profile">Tratamiento Minimamente Invasivo de Enfermedades Anorrectales</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-7" role="tab" aria-controls="messages">Cirugia Ambulatoria</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>




    {{> _scripts}}
</body>
</html>