@font-face {
    font-family: 'myriandpro';
    src: url('../webfonts/MYRIADPRO-REGULAR.OTF') format("opentype");; 
  }

body{
    font-family: 'myriandpro', sans-serif;
}

#maincarrusel .carousel-item{
    height: 100vh;
}

#maincarrusel{
    position: relative;
    margin-bottom: 2vh;
}

#maincarrusel img{
    width: 100%;
    height: 100%;
}

.navbar-nav{
    font-family: 'Poppins', sans-serif;
}

.pinkbg8{
    background-color: rgba(215,146,176,0.8) !important;
}

.pinkbg{
    background-color: rgba(215,146,176,1) !important;
}

/* LEFT TEXT CARRUSEL*/
.carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption h5{
    /* font-family: 'myriandpro', cursive; */
    font-size: 5em;
    line-height: 1.1;
    letter-spacing: 4px;
    /* display: inline-flex; */
    padding: 0.4em 0;
    color: #fff;
    overflow: hidden;
    background-color: rgba(10, 47, 81, 0.8);
    text-shadow: -3px 3px 10px #000;
    margin-bottom: 0;
    text-align: center;
}

.p-cont{
    background-color:rgba(255,255,255,0.9); 
    padding: 2em 4em; 
    max-width:50%;
}

.carousel-caption p{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.4em;
    letter-spacing: 0.5px;
    color: #303030;
    width: 100%;
    margin-bottom: 0;
    text-align: left;
}

.carousel-caption a{
    font-size: 1.2em;
    text-decoration: none;
    color: #FFF;
    background-color: #12416D;
    border-radius: 4px;
    padding: 1rem 3rem;
    /* margin-left: 2.6rem;
    margin-top: 1rem; */
    font-weight: bold;
}

/* Color Altertanivo*/

.carrusel-left-2 .carousel-caption{
    top: 0;
    left: 60%;
    right: 0;
    bottom: 0;
    background-color: rgba(215, 146, 176, 0.4);
    /* 0A2F51 */

}

.carrusel-left-2 .carousel-caption h5{
    /* font-family: 'Staatliches', cursive; */
    font-size: 4em;
    line-height: 1.1;
    letter-spacing: 4px;
    /* color: #12416D; */
    color: #fff;
    width: 70%;
    margin: 0 auto;
    margin-top: 40%;
}

.carrusel-left-2 .carousel-caption p{
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.2em;
    letter-spacing: 0.5px;
    /* color: #12416D; */
    color: #fff;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 2rem 0 3rem;
}

.carrusel-left-2 .carousel-caption a{
    font-size: 1.2em;
    text-decoration: none;
    color: #FFF;
    background-color: #D792B0;
    border-radius: 4px;
    padding: 1rem 3rem;
    margin-left: 7rem;
    margin-top: 1rem;
    font-weight: bold;
}

/*RIGHT CARRUSEL*/
.carrusel-right .carousel-caption{
    top: 0;
    left: 0;
    right: 60%;
    bottom: 0;
    background-color: rgba(192, 210, 114, 0.4);
    /* 0A2F51 */

}

.carrusel-right .carousel-caption h5{
    font-family: 'Staatliches', cursive;
    font-size: 4em;
    line-height: 1.1;
    letter-spacing: 4px;
    /* color: #12416D; */
    color: #fff;
    width: 70%;
    margin: 0 auto;
    margin-top: 40%;
}

.carrusel-right .carousel-caption p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.5px;
    /* color: #12416D; */
    color: #fff;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 2rem 0 3rem;
}

.carrusel-right .carousel-caption a{
    font-size: 1.2em;
    text-decoration: none;
    color: #FFF;
    background-color: #c0d272;
    border-radius: 4px;
    padding: 1rem 3rem;
    margin-left: 7rem;
    margin-top: 1rem;
    font-weight: bold;
}

.biglogo{
    width: 40%;
}

    .bg-light{
        /* background-color: rgba(255,255,255,1) !important; */
        background-color: #f7f7f7 !important;
    }

#servicios{
    min-height: 100vh;
    background-image: url("/images/bgserv.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

#servicios a{
    color: #12416D;
}

#servicios i, #ubicacion i{
    font-size: 3em;
    text-align: center;
}

#servicios .tab-content{
    margin-top: 15%;
}

#ubicacion{
    height: 78vh;
    /* background-color: #C6C7CA; */
    background-color: #FFF;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

#ubicacion .contact{
    position: absolute;
    top: 0vh;
    bottom: 45.5vh;
    left: 0;
    right: 70%;
    padding: 12vh 0;
    /* padding-left: 6vw; */
    color: #FFF;
    background-color: rgba(10, 47, 81, 0.8);
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    text-align: center;
}

#ubicacion .contact2{
    position: absolute;
    top: 0vh;
    bottom: 45.5vh;
    left: 70%;
    right: 0;
    padding: 12vh 0;
    /* padding-left: 8vw; */
    color: #FFF;
    background-color: rgba(215, 146, 176, 0.9);
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    text-align: center;
}

#map{
    margin: 0 auto;
    width: 100%;
    height: 40vh;
    background-color: grey;
    border-top: 2vh solid #FFF;
    border-bottom: 2vh solid #FFF;

}


#servicios #enfermedades .nav-link.active{
    background-color: #c0d272;
    color: #FFF !important;
}

#servicios #enfermedades a{
    color: #c0d272;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #12416d;
    color: #FFF !important;
}


 #berrones .nav-pills .nav-link.active, #berrones .nav-pills .show>.nav-link{
    background-color: #d792b0 !important;
    color: #FFF !important;
}

a{
    color: #12416d;
}
#berrones a{
    color: #d792b0;
}


#socialnetworks{
    background-color: #FFF;
    margin-bottom: 2vh;
    overflow: hidden;

}

#socialnetworks .col-lg-5{
    height: 100%;
    background-color: #f7f7f7;
    transform: skewx(20deg);
    padding: 0;
    min-width: 50% !important;
    margin-left: -5vw;
}

#socialnetworks .col-lg-5 img{
    transform: skewx(-20deg);
    display: block;
    margin: 0 auto;
    margin-left: 6vw;
    padding: 7vh 0;
    width: 80%;
}

#socialnetworks .col-lg-7{
    height: 100%;
    transform: skewx(20deg);
    margin-left: 3vw;
    padding: 0;
    overflow: hidden;
}

#socialnetworks .col-lg-7 img{
    width: 100px;
    height: 100px;
    background-color: #FFF;
}

#socialnetworks .col-lg-7 img:nth-child(2){
    margin: 0 4vw; 
}

#socialnetworks .col-lg-7 div{
    height: 30%;
    transform: skewx(-20deg);
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: 7vw;
    margin-top: 9vh;
}

#socialnetworks h4{
    transform: skewx(-20deg);
    background-color: #c0d272;
    color: #FFF;
    padding: 3%;
    margin-left: -2vw;
    padding-left: 4vw;
    width: 100%;
    text-align: center;
}


#copyright{
    background-color: rgba(10, 47, 81, 1);
    color: #FFFfff;
    padding: 2vh 2vw;
}


.bluelist .list-group-item.active{
    background-color: #12416d;
    border-color: #12416d;
}

.pinklist .list-group-item.active{
    background-color: #d792b0 !important;
    border-color:  #d792b0 !important;
}

.navbar-brand img{
    margin-left: 6vw;
}


.h-title{
    position: relative;
    overflow: hidden;
    margin-top: 66px;
    align-items: center;
}

.h-title img{
    width: 100%;
    display: block;
}

.page-title{
    color: #c0d272;
}

.page-title span{
    font-weight: bold;
}

.page-title{
    font-family: 'Cinzel', serif;
    font-size: 5em;
    padding-left: 4vw;
}

.h-title figure{
    width: 100%;
    max-height: 20vh;
}

.h-title section{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
}

.white-filter{
    width: 60% !important;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient( to right, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0));
    /* background-color: red; */
}


.info{
    font-weight: 100;
}

.info h2{
    padding: 0 0 1vh;
}

.info img{
    width: 80%;
    display: block;
    margin: auto;
}

.list-group-item{
    /* padding-bottom: 20px; */
}

#services-cards section{
    display: flex;
    align-items: center;    
    background-color: #12416d;   
    height: 20vh;
    width: 100%;
    /* border: 3px solid #12416d; */
    border-radius: 15px;
    margin: 1vh 0;
    color:#FFF;
    cursor: pointer;

}

#services-cards div:nth-child(even) section{
    display: flex;
    align-items: center;    
    background-color: #c0d272;   
    height: 20vh;
    width: 100%;
    /* border: 3px solid #c0d272; */
    border-radius: 15px;
}


#services-cards h3{    
    width: 80%;
    margin: auto;
    /* color: #FFF; */
    text-align: center;
    font-weight: bold;
    transition: all .5s;
    font-size: 1.4em;
}

#services-cards section:hover h3{
    transform: scale(1.2);
}



#bluestyle .list-group-item.active{
    background-color: #12416d; 
    border-color: #12416d;
}

#pinkstyle .list-group-item.active{
    background-color: #d792b0; 
    border-color:  #d792b0; 
}


#serviciosgrid{
    min-height: 90vh;
}

#enfermedades h5{
    margin-bottom: 0;
}

#enfermedades .bluestyle .card:nth-child(odd) .card-body{
    background-color: #12416d;
    color: #FFF;
}

#enfermedades h5{
    transition: all 0.5s;
    cursor: pointer;

}

#enfermedades .card-body:hover h5{
    transform: scale(1.2);
}

#enfermedades .pinkstyle .card:nth-child(even) .card-body{
    background-color: #d792b0;
    color: #FFF;
}

.utext{
    font-size: 1.4em;
    line-height: 1.3em;
    margin-bottom: 0;
}

.utext b:first-child{
    font-size: 2em;
}


@media screen and (max-width: 1200px){

    #maincarrusel img{
        width: 120%;
    }

    .carousel-caption h5{
        font-size: 4em;
        width: 100%;
        margin: 0 auto;
    }

    .carousel-caption p{
        font-size: 1em;
    }

    .carousel-caption a{
        font-size: 1em;
    }

    #ubicacion .contact{
        position: absolute;
        right: 76%;
        padding: 8vh 0;
        /* padding-left: 3vw; */
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
    }

    #ubicacion .contact2{
        position: absolute;
        left: 76%;
        padding: 8vh 0;
        /* padding-left: 3vw; */
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }
    #socialnetworks .col-lg-5{
        margin-left: -6vw;
    }

    #socialnetworks .col-lg-5 img{
        width: 80%;
        margin-left: 9vw;
    }
    #socialnetworks .col-lg-7{
        margin-left: 4.6vw;
    }

}

@media screen and (max-width: 992px){

    #maincarrusel img{
        width: 140%;
    }

    .carousel-caption h5{
        font-size: 3.5em;
    }

    .p-cont{
        padding: 2em;   
        max-width: 100%;     
    }

    .carousel-caption a{
        font-size: 0.8em;
    }

    #ubicacion{
        height: 120vh;
    }

    #ubicacion .contact{
        position: absolute;
        top: 80vh;
        right: 50%;
        padding: 8vh 0;
        bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #ubicacion .contact2{
        position: absolute;
        top:80vh;
        left: 50%;
        padding: 8vh 0;
        bottom: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    #socialnetworks{
        flex-wrap: wrap;
        margin-top: 4vh;
    }

    #socialnetworks .col-12:first-child{
        height: 100%;
        background-color: #f7f7f7;
        transform: skewx(0deg);
        padding: 0;
        min-width: 50% !important;
        margin-left: 0vw;
    }

    #socialnetworks .col-lg-5 img{
        transform: skewx(0deg);
        padding: 6vh;
    }

    #socialnetworks .col-lg-7{
        transform: skewx(0deg);
        margin-left: 0;
    }

    #socialnetworks h4 {
        transform: skewx(0deg);
        margin-left: 0;
        margin-top: 4vh;
    }

    #socialnetworks .col-lg-7 div{
        transform: skewx(0deg);
        margin: 0 auto;
        margin-top: 0;
        padding: 4vh 0;
    }

    .page-title{
        font-size: 4em;
    }

    .utext{
        font-size: 1em;
    }
}

@media screen and (max-width: 768px){

    #maincarrusel img{
        width: 200%;
        margin-left: -30%;
    }

    .carousel-caption h5{
        width: 100%;
        padding: 0.4em 0;
    }

    .carousel-caption a{
        font-size: 0.8em;
    }

    #ubicacion .contact{
        position: absolute;
        top: 80vh;
        right: 50%;
        padding: 8vh 0;
        bottom: 0;
    }

    #ubicacion .contact2{
        position: absolute;
        top:80vh;
        left: 50%;
        padding: 8vh 0;
        bottom: 0;       
    }

    .contact h5, .contact2 h5{
        font-size: 1em;
    }

    .contact h6, .contact2 h6{
        font-size: 0.9em;
    }

    .page-title{
        font-size: 3em;
        text-align: center;
        width: 100%;
    }

    .utext{
        padding: 2vh 0;
    }
}

@media screen and (max-width: 576px){

    .navbar-brand img{
        margin-left: 0;
    }

    .carousel-caption h5{
        width: 100%;
        padding: 0.4em 0;
        font-size: 2em;
    }

    .p-cont{
        font-size: 0.8em;    
    }

    .carousel-caption a{
        font-size: 0.8em;
    }

    #socialnetworks h4{
        font-size: 1em;
    }
    .contact h5, .contact2 h5{
        font-size: 0.8em;
    }

    .contact h6, .contact2 h6{
        font-size: 0.7em;
    }

    #copyright p{
        font-size: 0.8em;
    }

    .page-title{
        font-size: 2em;
    }

    .h-title figure{
        max-height: 10vh;
    }
    .name{
        font-size: 1.4em !important;
    }

    .esp{
        font-size: 0.8em;
    }
}






/* 
@media screen and (max-width: 1400px){
    .carrusel-left .carousel-caption h5, .carrusel-left-2 .carousel-caption h5, .carrusel-right .carousel-caption h5{
        font-size: 4.2em;
        margin-top: 50%;
    }

    .carrusel-left .carousel-caption p, .carrusel-left-2 .carousel-caption p, .carrusel-right .carousel-caption p{
        font-size: 1.2em;
    }

    .carrusel-left .carousel-caption a, .carrusel-left-2 .carousel-caption a, .carrusel-right .carousel-caption a{
        font-size: 1em;
    }

    #servicios i{
        font-size: 2em;
    }

    #servicios h3{
        margin: 1rem 0 !important;
    }

    #ubicacion .contact{
        padding-top: 8vh;
        padding-bottom: 8vh;
        right: 70%;
        border-top-right-radius: 25%;
        border-bottom-right-radius: 25%; 
    }

    #ubicacion .contact2{
        padding-top: 8vh;
        padding-bottom: 8vh;
        left: 70%;
        padding-left: 5vw;
        border-top-left-radius: 25%;
        border-bottom-left-radius: 25%; 
    }

    #socialnetworks .col-7 img{
        width: 70px;
        height: 70px;
    }

    #socialnetworks .col-7 div{
        margin-top: 10vh;
    }

    .navbar-brand img{
        margin-left: 5vw;
    }
} */